*{
    margin: 0;
    padding: 0;
}
.menu{
    width: 300px;
    /* background-color: rgb(212, 243, 243); */
    margin: 30px;

}
.menu ul li{
    background-color: rgb(139, 231, 238);
    padding: 15px;
    line-height: 1.5;
    list-style: none;
}
    
.menu ul li:hover{
    margin-left: 50px;
    background-color: rgb(211, 210, 209);
    color: red;
    width: 300px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: brown;
}